*.tar
*elc
.DS_Store
.cache/
.smex-items
ac-comphist.dat
auto-save-list/
backups/
custom.el
el-get/
elpa/
forge-database*sqlite
ido.last
places
projectile-bookmarks.eld
projects
recentf
starter-kit-2.*
tramp
transient/
url/
work.el
